@keyframes flash {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes increaseIndicaton {
  0% {
      color: white;
      transform: scale(1.0);
  }
  50% {
      color: yellow;
      transform: scale(1.5);
  }
  100%{
      color: white;
      transform: scale(1.0);
  }
}

@keyframes whitenBar {
    90% {
        fill: #bdbdbd
    }
    95%{
        fill: white
    }
    100% {
        fill: #bdbdbd
    }
}

@keyframes wrongAnswer {
    0% {
        color: white;
    }
    20% {
        color: #c62828;
    }
    80% {
        color: #c62828;
    }
    100%{
        color: white;
    }
}

html, body{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

span.card-title:hover{
    background-color: #757575 !important;
}

svg.ruler{
    height: 64px
}

svg.ruler rect{
    width: 4px;
    height: 32px;
}

svg.ruler rect.cmHatch{
    height: 64px;
}

svg.ruler rect.halfHatch{
    height: 48px;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to, .flash-enter, .flash-enter-to, .flash-leave{
    opacity: 0;
}

.flash-enter-active{
    animation: flash 4s;
}

.increase-indication-enter-active{
    animation: increaseIndicaton 750ms;
}

.wrong-answer-enter-active{
    animation: wrongAnswer 250ms;
}

#about-modal img{
    width: 100%;
}

#app{
    color: white;
    margin-top: 8em;
}

#conversionInput input{
    border-right: 0;
    color: white;
    flex: 6 0 0;
    font-size: 18pt;
    margin-bottom: 0;
    padding: 0 .25em;
    text-align: right;
}

#conversionInput input:nth-child(even){
    flex-grow: 1;
    text-align: left;
}

#conversionInput .flex label{
    font-size: 20pt;
    margin: 0 1em;
    color: white;
}

#conversionInput .flex .flex{
    box-shadow: 4px 4px 8px black;
}

#conversionInput input.correct{
    color: green;
}

#conversionInput input.wrong{
    color: red;
}

#countdownBar{
    margin: 1em
}

#countdownBar div{
    background-color: white;
    height: 64px; width: calc(100% - 2em);
    position: absolute;
    z-index: 1;
}

#countdownBar svg{
    fill: #424242;
    height: 64px; width: 100%;
    position: relative;
    z-index: 2;
}

#display{
    margin: 1em 0;
    position: relative;
}

#display .btn-large{
    width: 100%
}

#display .btn-large:hover{
    background-color: #757575 !important;
}

#display .card-title{
    padding: .25em;
}

#display .card-reveal i{
    line-height: 1.5;
}

#display #formula{
    height: 100%; width: 100%;
    padding: 7% 0;
    
    position: absolute;
    left: 0;
    top: 0;
    
    z-index: 2;
}

#display #stats{
    cursor: default;
    padding: 1em;
}

#display #stats .flex{
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

#display #stats .flex{
    border: 2px solid white;
}

#display #stats .flex span{
    display: inline-block;
}

#display #stats .flex span.label{
    border-bottom: 2px solid white;
    font-size: 14pt;
}

#display #stats .flex:not(:first-child){
    border-left: 0;
}

#display #stats .flex>*:not(:first-child){
    display: inline;
    font-size: 24pt;
    padding: .5em 0;
}

#load-content{
    margin-top: 40vh
}

#load-content svg{
    fill: #bdbdbd;
}

#load-content svg rect{
    animation-name: whitenBar;
    animation-duration: 650ms;
    animation-iteration-count: infinite;
}

#load-content svg rect:nth-child(1){
    animation-delay: -625ms;
}

#load-content svg rect:nth-child(2){
    animation-delay: -600ms;
}

#load-content svg rect:nth-child(3){
    animation-delay: -575ms;
}

#load-content svg rect:nth-child(4){
    animation-delay: -550ms;
}

#load-content svg rect:nth-child(5){
    animation-delay: -525ms;
}

#load-content svg rect:nth-child(6){
    animation-delay: -500ms;
}

#load-content svg rect:nth-child(7){
    animation-delay: -475ms;
}

#load-content svg rect:nth-child(8){
    animation-delay: -450ms;
}

#load-content svg rect:nth-child(9){
    animation-delay: -425ms;
}

#load-content svg rect:nth-child(10){
    animation-delay: -400ms;
}

#load-content svg rect:nth-child(11){
    animation-delay: -375ms;
}

#load-content svg rect:nth-child(12){
    animation-delay: -350ms;
}

#load-content svg rect:nth-child(13){
    animation-delay: -325ms;
}

#load-content svg rect:nth-child(14){
    animation-delay: -300ms;
}

#load-content svg rect:nth-child(15){
    animation-delay: -275ms;
}

#load-content svg rect:nth-child(16){
    animation-delay: -250ms;
}

#load-content svg rect:nth-child(17){
    animation-delay: -225ms;
}

#load-content svg rect:nth-child(18){
    animation-delay: -200ms;
}

#load-content svg rect:nth-child(19){
    animation-delay: -175ms;
}

#load-content svg rect:nth-child(20){
    animation-delay: -150ms;
}

#load-content svg rect:nth-child(21){
    animation-delay: -125ms;
}

#load-content svg rect:nth-child(22){
    animation-delay: -100ms;
}

#load-content svg rect:nth-child(23){
    animation-delay: -75ms;
}

#load-content svg rect:nth-child(24){
    animation-delay: -50ms;
}

#load-content svg rect:nth-child(25){
    animation-delay: -25ms;
}

#load-overlay{
    height: 100%; width: 100%;
    left: 0; top: 0;
    position: fixed;
    z-index: 10
}

#round-stats table, #round-stats th, #round-stats td {
    border: 3px solid #eee;
}

#round-stats th {
    background: #333;
}

#metric-fact{
    cursor: default;
    margin: 8em;
    text-align: center;
}

#metric-fact p:first-child{
    font-size: 24pt;
}

#metric-fact p:last-child{
    font-style: italic;
    font-size: 14pt;
}

@media screen and (max-aspect-ratio: 8/7){
    #conversionInput input{
        font-size: 14pt;
        flex: 5 0 0;
    }
}
