@keyframes increaseIndicaton {
  0% {
      color: white;
      transform: scale(1.0);
  }
  50% {
      color: yellow;
      transform: scale(1.5);
  }
  100%{
      color: white;
      transform: scale(1.0);
  }
}

@keyframes whitenBar {
    90% {
        fill: #bdbdbd
    }
    95%{
        fill: white
    }
    100% {
        fill: #bdbdbd
    }
}

html, body{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

span.card-title:hover{
    background-color: #757575 !important;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

#app{
    color: white;
    margin-top: 8em;
}

#conversionInput input{
    border-right: 0;
    color: white;
    flex: 6 0 0;
    font-size: 18pt;
    margin-bottom: 0;
    padding: 0 .25em;
    text-align: right;
}

#conversionInput input:nth-child(even){
    flex-grow: 1;
    text-align: left;
}

#conversionInput .flex label{
    font-size: 20pt;
    margin: 0 1em;
    color: white;
}

#conversionInput .flex .flex{
    box-shadow: 4px 4px 8px black;
}

#conversionInput input.correct{
    color: green;
}

#conversionInput input.wrong{
    color: red;
}

#display{
    height: 16em;
}

#display .card-title{
    padding: .25em;
}

#display .card-reveal i{
    line-height: 1.5;
}

#display #stats{
    cursor: default;
}

#display #stats .flex{
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

#display #stats .flex{
    border: 2px solid white;
}

#display #stats .flex span.increased{
    animation-name: increaseIndicaton;
    animation-duration: 750ms;
}

#display #stats .flex span{
    display: inline-block;
}

#display #stats .flex span.label{
    border-bottom: 2px solid white;
    font-size: 14pt;
}

#display #stats .flex:not(:first-child){
    border-left: 0;
}

#display #stats .flex>*:not(:first-child){
    display: inline;
    font-size: 24pt;
    padding: 1em 0;
}

#formula{
    margin: 2.5em 0
}

#load-content{
    margin-top: 40vh
}

#load-content svg rect{
    fill: #bdbdbd;
    animation-name: whitenBar;
    animation-duration: 650ms;
    animation-iteration-count: infinite;
}

#load-content svg rect:nth-child(1){
    animation-delay: -625ms;
}

#load-content svg rect:nth-child(2){
    animation-delay: -600ms;
}

#load-content svg rect:nth-child(3){
    animation-delay: -575ms;
}

#load-content svg rect:nth-child(4){
    animation-delay: -550ms;
}

#load-content svg rect:nth-child(5){
    animation-delay: -525ms;
}

#load-content svg rect:nth-child(6){
    animation-delay: -500ms;
}

#load-content svg rect:nth-child(7){
    animation-delay: -475ms;
}

#load-content svg rect:nth-child(8){
    animation-delay: -450ms;
}

#load-content svg rect:nth-child(9){
    animation-delay: -425ms;
}

#load-content svg rect:nth-child(10){
    animation-delay: -400ms;
}

#load-content svg rect:nth-child(11){
    animation-delay: -375ms;
}

#load-content svg rect:nth-child(12){
    animation-delay: -350ms;
}

#load-content svg rect:nth-child(13){
    animation-delay: -325ms;
}

#load-content svg rect:nth-child(14){
    animation-delay: -300ms;
}

#load-content svg rect:nth-child(15){
    animation-delay: -275ms;
}

#load-content svg rect:nth-child(16){
    animation-delay: -250ms;
}

#load-content svg rect:nth-child(17){
    animation-delay: -225ms;
}

#load-content svg rect:nth-child(18){
    animation-delay: -200ms;
}

#load-content svg rect:nth-child(19){
    animation-delay: -175ms;
}

#load-content svg rect:nth-child(20){
    animation-delay: -150ms;
}

#load-content svg rect:nth-child(21){
    animation-delay: -125ms;
}

#load-content svg rect:nth-child(22){
    animation-delay: -100ms;
}

#load-content svg rect:nth-child(23){
    animation-delay: -75ms;
}

#load-content svg rect:nth-child(24){
    animation-delay: -50ms;
}

#load-content svg rect:nth-child(25){
    animation-delay: -25ms;
}

#load-overlay{
    height: 100%; width: 100%;
    left: 0; top: 0;
    position: fixed;
    z-index: 2
}

#metric-fact{
    cursor: default;
    margin: 8em;
    text-align: center;
}

#metric-fact p:first-child{
    font-size: 24pt;
}

#metric-fact p:last-child{
    font-style: italic;
    font-size: 14pt;
}

@media screen and (max-aspect-ratio: 8/7){
    #conversionInput input{
        font-size: 14pt;
    }
}