<!DOCTYPE html>
<html>
	<head>
		<title>To Metric</title>
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/conversion.css">
		<script src="js/lodash.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/vue.min.js"></script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            CommonHTML: {
              scale: 130
            }
          });
        </script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML' async></script>
	</head>
	<body class="grey darken-4">
		<div id="navBar">
			<site-nav></site-nav>
		</div>
		<div id="app" class="container">
			<div id="display" class="card grey darken-3">
				<div class="card-content">
					<span class="card-title center-align activator grey darken-2">Show Formula</span>
                    <div id="stats" class="flex">
                        <div class="flex">
                            <span>
                                Level
                            </span>
                            <span>
                                {{ level }}
                            </span>
                        </div>
                        <div class="flex">
                            <span>
                                Level Progress
                            </span>
                            <span>
                                {{ levelUpProgress }}/{{ levelUpQuota }}
                            </span>
                        </div>
                        <div class="flex">
                            <span>
                                Difficulty
                            </span>
                            <span>
                                {{ difficulty }}
                            </span>
                        </div>
                    </div>
				</div>
				<div class="card-reveal grey darken-3">
					<span class="card-title center-align grey darken-2">Back to stats</span>
					<div id="formula"><!--Math formulas rendered here--></div>
				</div>
			</div>
			<div id="conversionInput">
				<div class="flex">
                    <div class="flex">
                        <input type="number" class="grey darken-2" v-model="given" readonly>
                        <input type="text" :value="imperialAbbrev" disabled>
                    </div>
                    <label> = </label>
                    <div class="flex">
                        <input class="input-field" type="number" v-bind:class="answerClass" v-model="userAnswer" @keyup.enter="checkAnswer">
                        <input type="text" :value="metricAbbrev" disabled>
                    </div>
				</div>
			</div>
		</div>
		<script src="js/nav.js"></script>
		<script src="js/conversion.js"></script>
	</body>
</html>