<!DOCTYPE html>
<html>
    <head>
        <title>Options</title>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/options.css">
		<script src="js/materialize.min.js"></script>
        <script src="js/lodash.min.js"></script>
        <script src="js/vue.js"></script>
    </head>
    <body>
        <div id="navBar">
            <site-nav></site-nav>
        </div>
        <div id="options" class="container">
            <div class="row">
                <div class="col s12">
                    <div id="general-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/general.jpeg" alt="general options background">
                            <span class="card-title">General</span>
                        </div>
                        <div class="card-content">
                            <div class="flex">
                                <p class="white-text">Precision</p>
                                <label class="help">
                                    <i class="material-icons left tooltipped" data-position="top" data-tooltip="Acceptable amount of percent error">help</i>
                                </label>
                                <p class="range-field">
                                    <input type="range" min="5" max="100" v-model="options.general.precision"/>
                                </p>
                            </div>
                            <div class="flex">
                                <p class="white-text">Convert Like Units</p>
                                <label class="help">
                                    <i class="material-icons left tooltipped" data-position="bottom" data-tooltip="Enabling this option means there will never be conversions where the units are very different in scale. e.g. inches to kilometers">help</i>
                                </label>
                                    
                                <div class="switch">
                                    <label class="white-text">
                                        Off
                                        <input type="checkbox" v-model="options.general.likeConversions">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="distance-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/distance.jpg" alt="distance options background">
                            <span class="card-title">Distance</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="options.conversions.distance.on">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Inches</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.inches" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Feet</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.feet" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Yards</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.yards" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Miles</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.miles" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Millimeters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.millimeters" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Centimeters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.centimeters" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Meters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.meters" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Kilometers</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.kilometers" :disabled="!options.conversions.distance.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="temperature-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/temperature.jpg" alt="temperature options background">
                            <span class="card-title">Temperature</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="options.conversions.temperature.on">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Fahrenheit</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.temperature.customary.fahrenheit" :disabled="!options.conversions.temperature.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Celsius</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.temperature.metric.celsius" :disabled="!options.conversions.temperature.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="mass-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/mass.jpg" alt="mass options background">
                            <span class="card-title">Mass</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="options.conversions.mass.on">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Ounces</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.customary.ounces" :disabled="!options.conversions.mass.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Pounds</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.customary.pounds" :disabled="!options.conversions.mass.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Grams</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.metric.grams" :disabled="!options.conversions.mass.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Kilograms</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.metric.kilograms" :disabled="!options.conversions.mass.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="liquid-volume-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/liquid-volume.jpg" alt="liquid volume options background">
                            <span class="card-title">Liquid Volume</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="options.conversions.liquidVolume.on">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Fluid Ounces</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.fluidOunces" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Pints</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.pints" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Quarts</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.quarts" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Gallons</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.gallons" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Milliliters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.metric.milliliters" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Liters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.metric.liters" :disabled="!options.conversions.liquidVolume.on">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <measurement-type-options
                v-bind.sync="options.conversions.speed"
            ></measurement-type-options>
        </div>
        <script src="js/nav.js"></script>
        <script src="js/options.js"></script>
    </body>
</html>
